node_modules/
dist/
.env
*.env
.DS_Store
*.log
backend/node_modules/
frontend/node_modules/
backend/uploads/
backend/src/uploads/*
!backend/src/uploads/.gitkeep
backend/src/config/init-db/00-full-local-dump.sql
*.csv
